In [1]:

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input, Dropout ,LSTM
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, r2_score

2025-03-26 00:23:21.127547: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-03-26 00:23:21.127920: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-03-26 00:23:21.129805: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-03-26 00:23:21.134272: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1742927001.141651  106896 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1742927001.143856  106896 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-03-26 00:23:21.152383: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:

# Step 2: Reading Data
df1 = pd.read_csv('422 datasets/madrid_2001.csv')
df2 = pd.read_csv('422 datasets/madrid_2002.csv')
df3 = pd.read_csv('422 datasets/madrid_2003.csv')
df4 = pd.read_csv('422 datasets/madrid_2004.csv')
df5 = pd.read_csv('422 datasets/madrid_2005.csv')
df6 = pd.read_csv('422 datasets/madrid_2006.csv')
df7 = pd.read_csv('422 datasets/madrid_2007.csv')
df8 = pd.read_csv('422 datasets/madrid_2008.csv')
df9 = pd.read_csv('422 datasets/madrid_2009.csv')
df10 = pd.read_csv('422 datasets/madrid_2010.csv')
df11 = pd.read_csv('422 datasets/madrid_2011.csv')
df12 = pd.read_csv('422 datasets/madrid_2012.csv')
df13 = pd.read_csv('422 datasets/madrid_2013.csv')
df14 = pd.read_csv('422 datasets/madrid_2014.csv')
df15 = pd.read_csv('422 datasets/madrid_2015.csv')
df16 = pd.read_csv('422 datasets/madrid_2016.csv')
df17 = pd.read_csv('422 datasets/madrid_2017.csv')
df18 = pd.read_csv('422 datasets/madrid_2018.csv')


# Concatenate all dataframes
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18], axis=0)


# Reset the index of the concatenated dataframe
df = df.reset_index(drop=True)
df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)


df.head()

,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PXY,SO_2,TCH,TOL,station,PM25,NO,CH4
0,2001-08-01 01:00:00,NaN,0.37,NaN,NaN,NaN,58.400002,87.150002,NaN,34.529999,105.000000,NaN,6.34,NaN,NaN,28079001,NaN,NaN,NaN
1,2001-08-01 01:00:00,1.5,0.34,1.49,4.1,0.07,56.250000,75.169998,2.11,42.160000,100.599998,1.73,8.11,1.24,10.82,28079035,NaN,NaN,NaN
2,2001-08-01 01:00:00,NaN,0.28,NaN,NaN,NaN,50.660000,61.380001,NaN,46.310001,100.099998,NaN,7.85,NaN,NaN,28079003,NaN,NaN,NaN
3,2001-08-01 01:00:00,NaN,0.47,NaN,NaN,NaN,69.790001,73.449997,NaN,40.650002,69.779999,NaN,6.46,NaN,NaN,28079004,NaN,NaN,NaN
4,2001-08-01 01:00:00,NaN,0.39,NaN,NaN,NaN,22.830000,24.799999,NaN,66.309998,75.180000,NaN,8.80,NaN,NaN,28079039,NaN,NaN,NaN

In [3]:
# df=df.drop(['EBE', 'PM10','station'], axis = 1)
df=df.drop(['station'], axis = 1)

df.head()

,date,BEN,CO,EBE,MXY,NMHC,NO_2,NOx,OXY,O_3,PM10,PXY,SO_2,TCH,TOL,PM25,NO,CH4
0,2001-08-01 01:00:00,NaN,0.37,NaN,NaN,NaN,58.400002,87.150002,NaN,34.529999,105.000000,NaN,6.34,NaN,NaN,NaN,NaN,NaN
1,2001-08-01 01:00:00,1.5,0.34,1.49,4.1,0.07,56.250000,75.169998,2.11,42.160000,100.599998,1.73,8.11,1.24,10.82,NaN,NaN,NaN
2,2001-08-01 01:00:00,NaN,0.28,NaN,NaN,NaN,50.660000,61.380001,NaN,46.310001,100.099998,NaN,7.85,NaN,NaN,NaN,NaN,NaN
3,2001-08-01 01:00:00,NaN,0.47,NaN,NaN,NaN,69.790001,73.449997,NaN,40.650002,69.779999,NaN,6.46,NaN,NaN,NaN,NaN,NaN
4,2001-08-01 01:00:00,NaN,0.39,NaN,NaN,NaN,22.830000,24.799999,NaN,66.309998,75.180000,NaN,8.80,NaN,NaN,NaN,NaN,NaN

In [4]:
df= df.dropna(subset=['O_3']) #i deleted all null rows to check the result


print('New Shape after dropping null rows of  value:')
df.shape

New Shape after dropping null rows of  value:

(2991732, 18)

In [5]:
df['CO'].fillna(df['CO'].mean(), inplace = True)
df['NO_2'].fillna(df['NO_2'].mean(), inplace = True)
df['SO_2'].fillna(df['SO_2'].mean(), inplace = True)

df['BEN'].fillna(df['BEN'].mean(), inplace = True)
df['MXY'].fillna(df['MXY'].mean(), inplace = True)
df['NMHC'].fillna(df['NMHC'].mean(), inplace = True)
df['NOx'].fillna(df['NOx'].mean(), inplace = True)


df['OXY'].fillna(df['OXY'].mean(), inplace = True)
df['PXY'].fillna(df['PXY'].mean(), inplace = True)
df['SO_2'].fillna(df['SO_2'].mean(), inplace = True)
df['TCH'].fillna(df['TCH'].mean(), inplace = True)


df['TOL'].fillna(df['TOL'].mean(), inplace = True)
df['PM25'].fillna(df['PM25'].mean(), inplace = True)
df['NO'].fillna(df['NO'].mean(), inplace = True)
df['CH4'].fillna(df['CH4'].mean(), inplace = True)
df['PM10'].fillna(df['PM10'].mean(), inplace = True)
df['EBE'].fillna(df['EBE'].mean(), inplace = True)

In [6]:
#Outlier treatment
def wisker(col):
  q1,q3=np.percentile(col,[25,75])
  iqr=q3-q1
  lower_bound=q1-(1.5*iqr)
  upper_bound=q3+(1.5*iqr)
  return lower_bound,upper_bound
df.columns

for i in ['BEN', 'CO', 'MXY', 'NMHC','SO_2', 'PM25']:
  lw,uk=wisker(df[i])
  df[i]=np.where(df[i]>uk,uk,df[i])
  df[i]=np.where(df[i]<lw,lw,df[i])

In [9]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, Input
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras import backend as K

# Load data (assuming df is already loaded)
target_column = 'O_3'  # Update this if necessary

# Convert datetime columns to numerical values
for col in df.select_dtypes(include=[np.datetime64]):
    df[col] = (df[col] - df[col].min()).dt.total_seconds()

# Separate features (X) and target (y)
y = df[target_column].values  # Convert to numpy array
X = df.drop(columns=[target_column]).values  # Drop target column

# Split dataset (shuffle=False because it's time-series)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=False)

# Standardize features
scaler_X = StandardScaler()
X_train = scaler_X.fit_transform(X_train)
X_test = scaler_X.transform(X_test)

# Standardize target variable
scaler_y = StandardScaler()
y_train = scaler_y.fit_transform(y_train.reshape(-1, 1)).flatten()
y_test = scaler_y.transform(y_test.reshape(-1, 1)).flatten()

# Create sequences for LSTM
time_steps = 5  # Using past 5 time steps

def create_sequences(X, y, time_steps):
    Xs, ys = [], []
    for i in range(len(X) - time_steps):
        Xs.append(X[i:i+time_steps])
        ys.append(y[i+time_steps])
    return np.array(Xs), np.array(ys)

X_train, y_train = create_sequences(X_train, y_train, time_steps)
X_test, y_test = create_sequences(X_test, y_test, time_steps)


# Define custom R² metric for Keras
# def r2_score_metric(y_true, y_pred):
#     ss_res = K.sum(K.square(y_true - y_pred))
#     ss_tot = K.sum(K.square(y_true - K.mean(y_true)))
#     return 1 - ss_res / (ss_tot + K.epsilon())

# Define LSTM model
model = Sequential([
    Input(shape=(X_train.shape[1], X_train.shape[2])),  # (time_steps, features)
    LSTM(128, return_sequences=True, activation='relu'),
    Dropout(0.3),
    LSTM(64, return_sequences=False, activation='relu'),
    Dropout(0.3),
    Dense(32, activation='relu'),
    Dense(1, activation='linear')  # Regression output
])

# Compile model
model.compile(optimizer=Adam(learning_rate=0.0001), loss='mean_squared_error', metrics=['mae'])

# Early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Train model
history = model.fit(X_train, y_train, epochs=50, batch_size=32,
                    validation_data=(X_test, y_test), verbose=1, callbacks=[early_stopping])

# Predict
y_pred = model.predict(X_test).flatten()

# Inverse transform target variable
y_pred = scaler_y.inverse_transform(y_pred.reshape(-1, 1)).flatten()
y_test = scaler_y.inverse_transform(y_test.reshape(-1, 1)).flatten()

# Evaluate model
r2 = r2_score(y_test, y_pred)
mae = np.mean(np.abs(y_pred - y_test))

print(f'Mean Absolute Error: {mae:.2f}')
print(f'R² Score: {r2:.2f}')

/home/t2420363/miniconda3/envs/rapids-23.12/lib/python3.10/site-packages/sklearn/preprocessing/_data.py:1037: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(self.var_), copy=False, constant_mask=constant_mask

Epoch 1/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 299s 4ms/step - loss: 0.5005 - mae: 0.5228 - val_loss: 1.2492 - val_mae: 0.8466
Epoch 2/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 298s 4ms/step - loss: 0.3793 - mae: 0.4487 - val_loss: 1.3670 - val_mae: 0.8856
Epoch 3/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 294s 4ms/step - loss: 0.3430 - mae: 0.4261 - val_loss: 1.1809 - val_mae: 0.8200
Epoch 4/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 298s 4ms/step - loss: 0.3209 - mae: 0.4117 - val_loss: 1.0328 - val_mae: 0.7712
Epoch 5/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 294s 4ms/step - loss: 0.3051 - mae: 0.4010 - val_loss: 1.0726 - val_mae: 0.7878
Epoch 6/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 298s 4ms/step - loss: 0.2942 - mae: 0.3935 - val_loss: 1.0862 - val_mae: 0.7918
Epoch 7/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 298s 4ms/step - loss: 0.2849 - mae: 0.3871 - val_loss: 0.9662 - val_mae: 0.7507
Epoch 8/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2779 - mae: 0.3821 - val_loss: 0.9848 - val_mae: 0.7578
Epoch 9/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2718 - mae: 0.3777 - val_loss: 0.9796 - val_mae: 0.7521
Epoch 10/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 300s 4ms/step - loss: 0.2664 - mae: 0.3737 - val_loss: 1.0172 - val_mae: 0.7665
Epoch 11/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 295s 4ms/step - loss: 0.2618 - mae: 0.3705 - val_loss: 0.8908 - val_mae: 0.7200
Epoch 12/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 300s 4ms/step - loss: 0.2575 - mae: 0.3672 - val_loss: 0.9356 - val_mae: 0.7357
Epoch 13/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2531 - mae: 0.3643 - val_loss: 0.9686 - val_mae: 0.7499
Epoch 14/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 299s 4ms/step - loss: 0.2501 - mae: 0.3621 - val_loss: 0.9317 - val_mae: 0.7355
Epoch 15/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2480 - mae: 0.3603 - val_loss: 0.9173 - val_mae: 0.7290
Epoch 16/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 295s 4ms/step - loss: 0.2446 - mae: 0.3577 - val_loss: 0.8991 - val_mae: 0.7234
Epoch 17/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 299s 4ms/step - loss: 0.2422 - mae: 0.3561 - val_loss: 0.8863 - val_mae: 0.7202
Epoch 18/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2399 - mae: 0.3540 - val_loss: 0.8719 - val_mae: 0.7117
Epoch 19/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 300s 4ms/step - loss: 0.2380 - mae: 0.3528 - val_loss: 0.9248 - val_mae: 0.7316
Epoch 20/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 295s 4ms/step - loss: 0.2354 - mae: 0.3508 - val_loss: 0.9560 - val_mae: 0.7444
Epoch 21/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 299s 4ms/step - loss: 0.2337 - mae: 0.3494 - val_loss: 0.9312 - val_mae: 0.7371
Epoch 22/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2326 - mae: 0.3485 - val_loss: 0.9756 - val_mae: 0.7542
Epoch 23/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2304 - mae: 0.3471 - val_loss: 1.0362 - val_mae: 0.7743
Epoch 24/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 301s 4ms/step - loss: 0.2282 - mae: 0.3456 - val_loss: 0.8901 - val_mae: 0.7222
Epoch 25/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2270 - mae: 0.3444 - val_loss: 0.9800 - val_mae: 0.7521
Epoch 26/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 298s 4ms/step - loss: 0.2252 - mae: 0.3431 - val_loss: 0.9323 - val_mae: 0.7366
Epoch 27/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 297s 4ms/step - loss: 0.2238 - mae: 0.3420 - val_loss: 0.9754 - val_mae: 0.7478
Epoch 28/50
74794/74794 ━━━━━━━━━━━━━━━━━━━━ 296s 4ms/step - loss: 0.2229 - mae: 0.3414 - val_loss: 0.9726 - val_mae: 0.7500
18699/18699 ━━━━━━━━━━━━━━━━━━━━ 23s 1ms/step
Mean Absolute Error: 20.52
R² Score: 0.38